<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto text-justify">
      <h3 class="text-center mt-3">Політика конфіденційності</h3>
      <h5 class="text-center">Введення</h5>
      <ul>
        <li>
          <p>
            Для нас дуже важлива конфіденційність відвідувачів нашого веб-сайту, і ми прагнемо до його збереження. Ця політика пояснює, що ми робимо з вашою особистою інформацією.
          </p>
        </li>
        </ul>
        <h5 class="text-center">Довіра</h5>
        <ul>
          <li>
            Цей документ був створений за допомогою шаблону від SEQ Legal
            (seqlegal.com) та модифіковано vpnMentor (www.vpnmentor.com)
          </li>
        </ul>
        <h5 class="text-center">Як ми збираємо ваші особисті дані</h5>
      <ul>Наступні типи особистої інформації можуть бути зібрані, збережені та використані:
        <li>
          Інформація про ваш комп'ютер, включаючи вашу IP-адресу, географічну
          розташування, тип і версія браузера та операційна система.

        </li>
        <li>
          Інформація про відвідування та використання цього веб-сайту, включаючи
          джерело рефералів, тривалість відвідування, перегляди сторінок і шляхи навігації веб-сайту.

        </li>
        <li>
          Інформація, яку ви вводите під час реєстрації на нашому веб-сайті, наприклад
          ваш електронний веб-сайт.
        </li>
        <li>
          Інформація, яку ви вводите при створенні профілю на нашому веб-сайті. Для
          Наприклад, ваше ім'я, зображення профілю, стать, день народження, стосунки
          статус, інтереси та захоплення, освітні деталі та зайнятість подробиці.
        </li>
        <li>
          Інформація, яку ви вводите, щоб налаштувати підписку на наші електронні листи
          та / або інформаційні бюлетені.
        </li>
        <li>
          Інформація, яка генерується під час використання нашого веб-сайту, в тому числі, коли, як часто і за яких обставин ви це використовуєте.
        </li>
        <li>
          Інформація, що стосується всього, що ви купуєте, послуги, які ви використовуєте, або транзакція, яку ви робите через наш веб-сайт, який включає ваше ім'я,
          адреса, номер телефону, адресу електронної пошти та дані кредитної картки.
        </li>
        <li>
          Інформація, яку ви розміщуєте на нашому веб-сайті з метою публікації
          це в інтернеті.
        </li>
        <li>
          Будь-яка інша особиста інформація, яку ви надсилаєте нам.
        </li>
      </ul>
      <h5 class="text-center">Використання особистої інформації</h5>
      <ul>Особиста інформація, надана нам через наш веб-сайт, буде використана для
        цілі, зазначені в цій політиці або на відповідних сторінках веб-сайту. Ми можемо
        використовуйте вашу особисту інформацію для таких дій:
        <li>
          Адміністрування нашого веб-сайту та бізнесу.
        </li>
        <li>
          Персоналізація нашого веб-сайту для вас.
        </li>
        <li>
          Надання доступу до послуг, доступних на нашому веб-сайті.
        </li>
        <li>
          Відправлення товарів, придбаних через наш веб-сайт
        </li>
        <li>
          Постачання послуг, придбаних через наш веб-сайт.
        </li>
        <li>
          Надсилання заяв, рахунків-фактур та нагадувань про платіж до вас, і
          збір платежів від вас.
        </li>
        <li>
          Надсилати вам маркетингові комерційні повідомлення.
        </li>
        <li>
          Відправлення повідомлень електронної пошти, які ви спеціально просили.
        </li>
        <li>
          Надсилати вам наш електронний інформаційний бюлетень, якщо ви підписалися на це (можете скасувати підписку в будь-який час).
        </li>
        <li>
          Надсилання маркетингових комунікацій, пов'язаних з нашим бізнесом або
          компанії третіх осіб, які, на нашу думку, можуть вас зацікавити.
        </li>
        <li>
          Робота з запитами та скаргами, зробленими вами чи про вас стосовно
          наш веб-сайт.
        </li>
        <li>
          Перевірка відповідності умовам, що регулюють використання
          наш веб-сайт.
        </li>
        <li>Інші види використання.</li>
      </ul>
      <p>
        Якщо ви надішлете особисту інформацію для публікації на нашому веб-сайті, ми опублікуємо її і в іншому випадку використовувати цю інформацію відповідно до наданої нами ліцензії.
      </p>
      <p>
        Ваші налаштування конфіденційності можна використовувати для обмеження публікації вашої інформації на нашому сайті.
      </p>
      <p>
        Ми не будемо, без вашої згоди, надавати вашу особисту інформацію
        будь-яку третю сторону для прямого маркетингу своєї чи будь-якої іншої сторонньої сторони.

      </p>
      <h5 class="text-center">Розкриття особистої інформації</h5>
      <p>
        Ми можемо розкривати вашу особисту інформацію будь-якому з наших співробітників  необхідні для цілей, викладених у цій політиці.
      </p>
      <ul>Ми можемо розкрити вашу особисту інформацію:
        <li>
          В тій мірі, в якій ми повинні це робити законом;
        </li>
        <li>
          У зв'язку з будь-яким поточним або майбутнім судовим розглядом;
        </li>
        <li>
          Для встановлення, здійснення або захисту наших юридичних прав (включаючи надання інформацію іншим для запобігання та зменшення шахрайства);
        </li>
      </ul>
      <p>
        Окрім випадків, передбачених цією політикою, ми не надаємо вашу особисту інформацію треті сторони.
      </p>
      <h5 class="text-center">Збереження особистої інформації</h5>
      <ul>
        <li>
          Цей розділ визначає нашу політику та процедуру збереження даних, які є
          розроблений, щоб допомогти забезпечити дотримання наших юридичних зобов'язань щодо утримання та видалення особистої інформації.
        </li>
        <li>
          Особиста інформація, яку ми обробляємо для будь-яких цілей або цілей, не повинна
          зберігатись довше, ніж це потрібно для цих цілей або цілей.
        </li>
        <li>
          Незважаючи на інші положення цього розділу, ми збережемо
          документи (включаючи електронні документи), що містять особисті дані:
          a. в тій мірі, в якій ми повинні це робити законом;
        </li>
        <li>
          Для встановлення, здійснення або захисту наших юридичних прав (у тому числі
          надання інформації іншим для запобігання шахрайству).

        </li>
      </ul>
      <h5 class="text-center">Безпека вашої особистої інформації</h5>
      <ul>
        <li>
          Ми будемо приймати обґрунтовані технічні та організаційні запобіжні заходи для запобігання втрати, неправильне використання або зміни вашої особистої інформації.
        </li>
        <li>
          Ми зберігатимемо всю вашу особисту інформацію на нашому безпечному місці.
        </li>
        <li>
          Всі електронні фінансові транзакції, укладені на нашому веб-сайті, будуть
          захищена технологією шифрування.
        </li>
        <li>
          Ви визнаєте, що передача інформації через Інтернет є по суті не захищений, і ми не можемо гарантувати безпеку переданих даних інтернет.
        </li>
        <li>
          Ви несете відповідальність за збереження пароля, який ви використовуєте для доступу до нашого веб-сайт конфіденційно; ми не будемо просити вас про ваш пароль (крім коли ви ввійдете на наш веб-сайт).
        </li>
      </ul>
      <h5 class="text-center">Оновлення політики конфіденційності</h5>
      <p>Час від часу ми можемо оновлювати цю політику, опублікуючи нову версію на нашому веб-сайті.  Ви повинні час від часу перевіряти цю сторінку, щоб ви зрозуміли будь-який
        зміни до цієї політики. Ми можемо повідомити вас про зміни в цій політиці електронною поштою або через систему приватних повідомлень на нашому веб-сайті.
      </p>
      <h5 class="text-center">Ваші права</h5>
      <p>
        Ви можете попросити нас надавати вам будь-яку особисту інформацію, яку ми маємо.
        Ми можемо утримувати особисту інформацію, яку ви просите, у тій мірі, в якій це дозволено законом.
      </p>
      <p>
        Ви можете попросити нас не обробляти вашу особисту інформацію для
        маркетингових цілей.
      </p>
      <p>
        На практиці ви, як правило, або прямо заздалегідь погоджуєтеся з нашою допомогою
        особисту інформацію в маркетингових цілях, або ми надаємо вам можливість відмовитися від використання вашої особистої інформації для маркетингових цілей.
      </p>
      <h5 class="text-center">Сторонні веб-сайти</h5>
      <p>
        Наш веб-сайт містить посилання на веб-сайти третіх сторін та їх деталі. Ми не можем
        контролювати і нести відповідальності за політику конфіденційності та практику третьої
        сторони.
      </p>
      <h5 class="text-center">Оновлення інформації</h5>
      <p>
        Будь ласка, дайте нам знати, чи повинна бути особиста інформація, яку ми маємо про вас виправлена чи оновлена.
      </p>
    </div>
  </div>
</div>
