<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto text-justify">
      <p class="mt-3">
        Ласкаво просимо до MyUkraine - екстериторіальний простір для проактивних українських лідерів і симпатиків України.
      </p>
      <p>
        Наша онлайн мережа допомагає створювати команди однодумців та масштабувати проекти, залучає молодих високоосвічених українців з різних країн світу до ефективної комунікації.
      </p>
      <p>
        Ми хочемо, щоб Україна була успішною країною щасливих людей і віримо, що наші знання і контакти за кордоном - величезний капітал для держави.
      </p>
      <p>
        We are сonnecting people, places and ideas!
      </p>
      <h3 class="text-center mt-3">Ключові стандарти функціонування MyUkraine:</h3>
      <ul>
        <li>Безпека
        <p>
          MyUkraine - мережа, яка будується на довірі та спільних цінностях. Ми дбаємо про надійність захисту персональних даних наших користувачів і забезпечення їхньої якісної взаємодії в максимально комфортних та безпечних умовах. Ознайомитись з правилами реєстрації та користування мережею можна нижче.
        </p>
        </li>
        <li>Компетентність
          <p>
            MyUkraine об’єднує людей з міжнародним досвідом, експертів у галузях управління,  бізнесу, культури, освіти,  медіа, соціальних проектів, які продемонстрували високий рівень професіоналізму та довіри.
          </p>
        </li>
        <li>Синергія взаємодії
          <p>
            MyUkraine - це фасилітатори змін, ініціативні, енергійні, орієнтовані на результат. Вони вміють працювати в команді та знають, як організовувати людей і процеси.
          </p>
        </li>
        <li>Справедливість і Толерантність
          <p>
            Дискримінуюча поведінка і риторика ненависті є неприйнятною для MyUkraine.
          </p>
        </li>
        <li>
          Гармонія приватних та суспільних інтересів
        </li>
      </ul>
      <h3 class="text-center mt-3">Умови реєстрації та статуси Користувачів</h3>
      <ul class="text-justify">
        <li>Користувачу дозволяється мати тільки один обліковий запис з необхідною достовірною та актуальною інформацією для формування персональної сторінки.</li>
        <li>Користувач зобов’язується зберігати свій пароль в таємниці.</li>
        <li>Розміщуючи інформацію на персональній сторінці, у тому числі свої персональні дані, Користувач усвідомлює і погоджується з тим, що зазначена інформація може бути доступна іншим користувачам мережі з урахуванням особливостей архітектури та функціоналу мережі. </li>
        <li>Заборонено розміщувати неприйнятний, недостовірний або сумнівний контент, а також інформацію та об'єкти (включаючи посилання на них), які можуть порушувати права та інтереси інших осіб.</li>
        <li>Процес реєстрації вважається завершеним після того, як Адміністратор підтвердить реєстрацію нового користувача. Зареєстровані користувачі далі іменуються «Учасники», а незареєстровані - «Відвідувачі». Для Учасників мережі доступний необмежений перегляд наявного контенту, пункти з розділу “Мої можливості” та додаткові опції. Для Відвідувачів передбачено: перегляд стрічки новин і профілів інших користувачів (залежно від налаштувань публічності їхніх профілів).</li>
        <li>При реєстрації Користувач погоджується з даними Умовами і приймає зазначені в них правила, пов'язані з використанням та функціонуванням мережі.</li>
        <li>Адміністратор залишає за собою право обмежити, призупинити або припинити дію облікового запису Користувача у випадку порушення ним Умов та Положень про використання мережі.</li>
      </ul>
    </div>
  </div>
</div>
