<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto mb-5">
      <div class="text-justify mt-3">
        <p>Країні потрібні нові правила гри, які ми маємо знайти та прийняти всі разом. На нашій платформі ви зможете поділитися своїм баченням того, якими принципами мають керуватись лідери нового покоління, задля забезпечення умов розвитку України.</p>
        <p>На другому етапі ми зможемо організувати національне обговорення, за допомогою нових інформаційних технологій, аби затвердити та спільно прийняти цей необхідний новий суспільний договір.</p>
        <p>Після цього, лідери нового покоління зможуть взяти на себе зобов’язання керуватись у майбутньому цими спільно-розробленими принципами та закласти умови розвитку успішної та щасливої України.</p>
      </div>
    </div>
  </div>
</div>
