<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto mb-5">
      <div class="text-justify mt-3">
        Для успішної трансформації країни потрібна освітня та медійна революція, це ключовий фактор швидкого розвитку нового покоління відповідальних лідерів.<p></p>
        <p>А для того щоб шлях у майбутнє був успішним, дуже важливо знайти своїх однодумців, які також люблять свій край та бачать його у найближчому часі розвинутим, екологічним, дружнім та безпечним.</p>
        <p>Наш проект альтернативної медійної платформи, це інноваційний інформаційно-освітній стартап, до якого може долучитись кожен українець.</p>
        <p>Ми віримо у трансформацію медіа-індустрії завдяки новим технологіям. Наше кредо – громадська журналістика, діджітал журналістика, журналістика рішень (citizen journalism, digital journalism, solution journalism).</p>
        <p>В країні, про яку ми мріємо, працюють соціальні ліфти, держава дбає про кожного громадянина, твої рідні та твоя земля захищені, а політика – справа чесних. Та подолати відстань до нашої спільної мети не просто. Змінити країну на краще можливо, лише змінивши себе. Для цього потрібно опанувати особливі знання та навички, навчитися в суворих умовах долати перешкоди.</p>
        <p>Ми щиро переконані що для того щоб цього досягнути потрібні нові здорові альтернативні медійні платформи.
        </p></div>
    </div>
  </div>
</div>
