<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="text-justify mt-3">
        <p>Платформа свідомих українців, які дихають змінами.</p>
        <ul>
          <li>Хто ми? Молоді українці, які щиро вірять в те, що Україна зміниться тільки завдяки самоорганізації нових здорових сил. Ми розуміємо що успішні зміни можливі, тому шукаємо однодумців для того щоб вся країна дихала в унісон, ми глобальна мережа “агентів змін”.</li>
          <li>Наша місія? Постмайданна Україна побачила народження потужного волонтерського руху, відбувається певний переворот свідомості. Україна входить у час глобальних мережевих структур. Саме тому, країні потрібен новий суспільний договір, ми хочемо пришвидшити ментальну модернізацію та трансформацію країни.</li>
          <li>Наша мета: масштабне активне залучення нових здорових сил (лідерів, активістів, волонтерів) у процес зміни країни.</li>
          <li>
            Наші дії:</li>
          <ul style="list-style-type: circle">
            <li>Інформаційні смартфон-кампанії, освітні акції для розвитку нового альтернативного українського громадського руху, з метою створення спільної дорожньої карти змін країни;</li>
            <li>Залучення успішних українців-експатів задля обміну найкращим світовим досвідом з точки зору глобальних можливостей розвитку для українського суспільства.</li>
          </ul>
          <li>Наші ключові слова – комунікація, освіта, networking &amp; mentorship, співпраця та спільні дії.</li>
          <li>Як долучитись та що робити? Заповніть індивідуальну анкету на сайті, розкажіть про свою ініціативу. Створіть свій осередок, якщо ви готові організувати своїх друзів або однодумців для спільних дій на місцевому рівні. Взяти участь у нашій освітній Академії, слідкуйте за новинами та робіть свої пропозиції цікавих тем для обговорення в наших програмах Alterna.TV. Рекомендуйте відомі вам ініціативи у вашому регіоні, якім наші ментори могли б допомогти.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 mb-5">
      <div class="google-map">
        <iframe src="https://www.google.com/maps/d/embed?mid=1fTyskbhXJh3fLR0H5rydX8QPFxR-itL9&hl=uk" width="1100" height="480"></iframe>
      </div>
    </div>
  </div>
</div>


